.greeting-container {
  margin-top: 10%;
  margin-bottom: 20%;
  text-align: center;
}

.email-text {
  text-decoration: underline;
}

.detail-nav {
  border-style: solid;
  border-width: 1px 0px;
  border-color: gray;
}

.detail-nav-link {
  margin: 0px 10px;
}

.detail-nav-link > button {
  color: black;
}

.active-nav-link {
  border-width: 0px 0px 4px;
  border-style: solid;
  border-color: blue;
  border-radius:4px;
}

.content-container {
  margin-top: 20%;
}