.tab {
  border-width: 0 thin;
  border-style: dashed;
  border-color: thistle;
}

.tab:hover {
  text-decoration: underline;
  cursor: pointer;
}

.active-tab {
  border-bottom-width: medium;
  border-bottom: medium solid red;
}