<div class="content">
    <div class="toolbar" role="banner">
        <a routerLink="/signin">Sign in</a>
    </div>
    <p>Email: <span class="email-text">{{ userEmail }}</span></p>
    <button class="tab" [ngClass]="selectedTab == SubComponent.MyVehicles ? 'active-tab' : ''" (click)="selectTab(SubComponent.MyVehicles)">I miei veicoli</button>
    <button class="tab" [ngClass]="selectedTab == SubComponent.PaymentHistory ? 'active-tab' : ''" (click)="selectTab(SubComponent.PaymentHistory)">Storico pagamenti</button>
    <button class="tab" [ngClass]="selectedTab == SubComponent.Statistics ? 'active-tab' : ''" (click)="selectTab(SubComponent.Statistics)">Statistiche</button>
    <app-vehicle-tab *ngIf="selectedTab == SubComponent.MyVehicles"></app-vehicle-tab>
    <app-payment-tab *ngIf="selectedTab == SubComponent.PaymentHistory"></app-payment-tab>
    <app-statistics-tab *ngIf="selectedTab == SubComponent.Statistics"></app-statistics-tab>
</div>