.statistics {
  text-align: left;
}

.statListElement {
  margin: 0.5em 0;
  font-weight: bold;
  padding: 0.5em;
}

.ratings {
    margin-top   : 30%;
    margin-bottom: 30%;
}

.product-rating {
    font-size: 50px
}

.rating-text {
    margin-top: 10px
}

.star-button {
    border-style: none;
    background-color: white;
    color: gold
}

.star-button-hover:hover {
    color: palevioletred
}