<div class="payment-form">
    <div class="title">
        <h2>{{ parkingName }}</h2>
    </div>
    <div class="d-flex justify-content-center date-container">
        <p><fa-icon [icon]="faCalendar"></fa-icon><br/>{{ currentDate }}</p>
    </div>
    <div class="time-container">
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary circle-button">-</button>
            <span>1</span>
            <button class="btn btn-primary circle-button">+</button>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary circle-button">-</button>
            <span>1</span>
            <button class="btn btn-primary circle-button">+</button>
        </div>
        <div class="d-flex justify-content-center">
            <span>Price: </span>
        </div>
    </div>
    <div class="d-flex justify-content-center vehicle-data">
        <!-- TODO -->
        <span>TODO</span>
    </div>
    <div class="d-flex justify-content-center payment-button">
        <button class="btn btn-primary">Pay Now</button>
    </div>
</div>