<p *ngIf="userPermanences.length === 0">No Payments found</p>
<div class="paymentListElement" *ngFor="let permanence of userPermanences">
  <b>Luogo:</b> {{ permanence.parkingAddress }}<br />
  <b>Costo:</b> {{ permanence.amountPayed | price }}<br />
  <b>Ingresso:</b> {{ permanence.entryDate | date:"YYYY-MM-dd HH:mm:ss a (O)" }}<br />
  <b>{{ permanence.exitDate ? "Uscita" : "Scadenza" }}:</b> {{ (permanence.exitDate ? permanence.exitDate : permanence.payedUntil) | date:"YYYY-MM-dd HH:mm:ss a (O)" }}
</div>