#cannot-find-location-dialogue {
    position  : absolute;
    top: 40%;
    left      : 2%;
    right     : 2%;
    z-index   : 1001;
    color: white;
    text-align: center;
}

.dimmed {
    position: relative;
}

.dimmed:after {
    content   : " ";
    z-index   : 1000;
    display   : block;
    position  : absolute;
    height    : 100%;
    top       : 0;
    left      : 0;
    right     : 0;
    background: rgba(0, 0, 0, 0.75);
}

.map-container {
    position: absolute;
    top     : 10%;
    left    : 0;
    right   : 0;
    bottom  : 0;
    margin  : 2px;
}

.map-frame {
    border: 2px solid lightgrey;
    height: 85%;
}

#map {
    height: 100%;
}

.map-control-button-location-mode {
    position: absolute;
    top     : 70%;
    left    : 5%;
    padding : 10px;
    z-index : 400;
}

.map-control-button-city-mode {
    position: absolute;
    top     : 70%;
    left    : 20%;
    padding : 10px;
    z-index : 1002;
}

.map-control-buttons-locate-current {
    position: absolute;
    top     : 70%;
    right   : 20%;
    padding : 10px;
    z-index : 400;
}

.map-control-buttons-locate-city {
    position: absolute;
    top     : 70%;
    right   : 5%;
    padding : 10px;
    z-index : 400;
}

.map-control-button {}

.button-marked {
    border-color: tomato;
    border-width: 4px;
}

.search-nav {
    border-bottom: solid;
    border-color : lightgrey;
}

.search-nav-contents {
    margin-top   : 2%;
    margin-bottom: 2%;
    margin-left  : 4%;
    margin-right : 4%;
}

.search-nav-element {
    margin-left : 4%;
    margin-right: 4%;
}

.circle-icon {
    background   : white;
    padding      : 10px;
    border-radius: 50%;
    border-color : lightgrey;
    border-style : solid;
    border-width : 2px;
}


.slider-container {
    position   : absolute;
    top        : 88%;
    width      : 80%;
    margin-left: 10%;
}

.slider-label {
    margin-left : 5%;
    margin-right: 5%;
}

.popup-text {
    text-align: center;
}

.popup-button {
    border-bottom: 10%;
}