.map-container {
    position: absolute;
    top     : 10%;
    left    : 0;
    right   : 0;
    bottom  : 0;
    margin  : 2px;
}

.map-frame {
    border: 2px solid lightgrey;
    height: 85%;
}

#map {
    height: 100%;
}

.locate-button {
    position: absolute;
    top     : 70%;
    right   : 5%;
    padding : 10px;
    z-index : 400;
}

.search-nav {
    border-bottom: solid;
    border-color : lightgrey;
}

.search-nav-contents {
    margin-top   : 2%;
    margin-bottom: 2%;
    margin-left  : 4%;
    margin-right : 4%;
}

.search-nav-element {
    margin-left : 4%;
    margin-right: 4%;
}

.circle-icon {
    background   : white;
    padding      : 10px;
    border-radius: 50%;
    border-color : lightgrey;
    border-style : solid;
    border-width : 2px;
}


.slider-container {
    position   : absolute;
    top        : 88%;
    width      : 80%;
    margin-left: 10%;
}

.slider-label {
    margin-left : 5%;
    margin-right: 5%;
}