.map-container {
    position: absolute;
    top     : 10%;
    left    : 0;
    right   : 0;
    bottom  : 0;
    margin  : 2px;
}

.map-frame {
    border: 2px solid lightgrey;
    height: 95%;
}

#map {
    height: 100%;
}

.search-nav {
    border-bottom: solid;
    border-color: lightgrey;
}

.circle-icon {
    background   : white;
    padding      : 10px;
    border-radius: 50%;
    border-color : lightgrey;
    border-style : solid;
    border-width : 2px;
}


.search-bar {}