.form-label {
  display: block;
  margin: 1em 0em;
}

.form-button {
  display: block;
}

.error-banner {
  padding: 10px;
  margin: 10px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}
