.form-header {
    margin-top: 20%;
}

.form-body {
    margin-top: 30% !important;
}

.form-group {
    margin-top: 20%;
}

.submit-button {
    color: white;
}

.issue-area {
    resize: none;
    height: 40%;
}

h3 {
    margin-bottom: 20px;
}

.thank-you {
    margin-top: 50%;
    text-align: center;
}

.go-back {
    margin-top: 20%;
    text-align: center;
}