<div class="homepage-container">
  <div class="text-align-center">
    <h3>Tired of searching for parking?</h3>
  </div>
  <div class="d-flex justify-content-center">
    <img src="assets/images/parking.jpg" class="image">
  </div>
  <div class="text-align-center">
    <h3>Be smart!</h3>
  </div>
  <div class="d-flex justify-content-center">
    <img src="assets/images/sample.jpg" class="image">
  </div>
  <div class="text-align-center">
    <h2>Try Smart Parking!</h2>
  </div>
  <div class="text-align-center">
    <h2>Rimini</h2>
  </div>
  <div class="city-container d-flex justify-content-center">
    <img src="assets/images/rimini.jpg" class="image">
  </div>
  <div class="text-align-center">
    <h2>Cesena</h2>
  </div>
  <div class="city-container d-flex justify-content-center">
    <img src="assets/images/cesena.jpg" class="image">
  </div>
  <div class="text-align-center">
    <a class="btn btn-info" href="/signin" style="color: white;">Register now!</a>
  </div>
</div>
