.vehicleSearch {
  display: block;
}

/* .vehicleListElement {

} */

.vehicleElementContainer {
  display: flex;
}

/* .results-container {

} */

.result-container > ul {
  padding-left: 1rem;
}

.error-message {
  text-align: center;
  margin-top: 10%;
}

.vehicle-name, .vehicle-link-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.remove-button {
  margin-left: auto;
}

.vehicle-link-icon {
  margin-left: 1rem;
}

/* TODO: inline camera icon */