<div class="support-container">
    <div class="d-flex justify-content-center">
        <h2>How can we help?</h2>
    </div>

    <div class="contact-buttons">
        <button (click)="navigateToContact('parking')" type="button" class="btn btn-light contact-button">Parking Lot Problems</button>
        <button (click)="navigateToContact('payment')" type="button" class="btn btn-light contact-button">Payment Problems</button>
        <button (click)="navigateToContact('other')" type="button" class="btn btn-light contact-button">Other Problems</button>
    </div>
</div>
